@using ExcelQuiz.Models;
@model List<CandidateRequestModel>
@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">

    function DeleteRecord(id) {

        
        if (confirm("Are you sure you want to delete this?")) {           
                        
            window.location = 'CandidateDelete?candidateLoginRequestId=' + id;
        }
        else {
            return false;
        }
    }

    $(document).ready(function () {
        var searchText = getUrlVars()["search"];
        
        if(searchText != '' || searchText != undefined)
            $("#txtSearch").val(searchText);

        $("#addNew").click(function () {
            window.location = "candidate";
        });

        $("#txtSearch").change(function () {
            var searchText = $("#txtSearch").val();
            window.location = "candidateList?search=" + searchText;
        });         
    });
</script>
<div class="row">
    <div class="col-12 col-s-12"></div>
</div>
<div class="row">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" name="search" value="" id="txtSearch" placeholder="search" />
            </div>
        </div>
        <div class="row" style="text-align:right"><div class="col-12 col-s-12" id="addNew"><strong><u>Add New</u></strong></div></div>
        <div class="row headerRow" style="text-align:center">
            <div class="col-3 col-s-3">Requested Email</div>
            <div class="col-1 col-s-1">Request ID</div>
            <div class="col-2 col-s-2">Req Date</div>
            <div class="col-1 col-s-1">No of Req</div>
            <div class="col-2 col-s-2">Valid From</div>
            <div class="col-2 col-s-2">Valid To</div>
            <div class="col-1 col-s-1">Actions</div>
        </div>
        @if (Model.Count == 0)
        {
            <div class="row" style="color:green"><div class="col-12 col-s-12"><strong>No record is present.</strong></div></div>
        }
        else
        {
            <div class="row tablecontent">
                <div class="col-12 col-s-12">
                    @foreach (CandidateRequestModel candidateRequestModel in Model)
                    {
                        <div class="row">
                            <div class="col-3 col-s-3">@candidateRequestModel.RequestedPersonEmail<input id="candidateReqId" value="@candidateRequestModel.CandidateLoginRequestId" type="hidden"/></div>
                            <div class="col-1 col-s-1">@candidateRequestModel.RequestId</div>
                            <div class="col-2 col-s-2" style="text-align:center">@candidateRequestModel.RequestDate.ToString("dd-MMM-yyyy")</div>
                            <div class="col-1 col-s-1" style="text-align:center">@candidateRequestModel.NoofLoginRequest</div>
                            <div class="col-2 col-s-2" style="text-align:center">@candidateRequestModel.ValidFrom.ToString("dd-MMM-yyyy")</div>
                            <div class="col-2 col-s-2" style="text-align:center">@candidateRequestModel.ValidTo.ToString("dd-MMM-yyyy")</div>
                            <div class="col-1 col-s-1">
                                <a href="#" onclick="DeleteRecord(id=@candidateRequestModel.CandidateLoginRequestId);">Delete</a>
                                &nbsp;&nbsp;
                                <a href="@Url.Action("CandidateListExcelDownload","Admin", new { requestedCandidateId=@candidateRequestModel.CandidateLoginRequestId })">Download</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-1 col-s-1"></div>
</div>
