@using ExcelQuiz.Models;
@model List<CandidateRequestModel>
@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var searchText = getUrlVars()["search"];
        
        if(searchText != '' || searchText != undefined)
            $("#txtSearch").val(searchText);

        $("#addNew").click(function () {
            window.location = "candidate";
        });

        $("#txtSearch").change(function () {
            var searchText = $("#txtSearch").val();
            window.location = "candidateList?search=" + searchText;
        });
    });
</script>
<div class="row">
    <div class="col-12 col-s-12"></div>
</div>
<div class="row">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" name="search" value="" id="txtSearch" placeholder="search" />
            </div>
        </div>
        <div class="row" style="text-align:right"><div class="col-12 col-s-12" id="addNew"><strong><u>Add New</u></strong></div></div>
        <div class="row headerRow">
            <div class="col-3 col-s-3">Requested Email</div>
            <div class="col-1 col-s-1">Request ID</div>
            <div class="col-1 col-s-1">Req Date</div>
            <div class="col-1 col-s-1">No of Req</div>
            <div class="col-2 col-s-2">Valid From</div>
            <div class="col-2 col-s-2">Valid To</div>
            <div class="col-2 col-s-2" style="text-align:center">Actions</div>
        </div>
        @if (Model.Count == 0)
        {
            <div class="row" style="color:green"><div class="col-12 col-s-12"><strong>No record is present.</strong></div></div>
        }
        else
        {
            <div class="row tablecontent">
                <div class="col-12 col-s-12">
                    @foreach (CandidateRequestModel candidateRequestModel in Model)
                    {
                        <div class="row">
                            <div class="col-3 col-s-3">@candidateRequestModel.RequestedPersonEmail</div>
                            <div class="col-1 col-s-1">@candidateRequestModel.RequestId</div>
                            <div class="col-1 col-s-1">@candidateRequestModel.RequestDate.ToString("dd-MMM-yyyy")</div>
                            <div class="col-1 col-s-1" style="text-align:center">@candidateRequestModel.NoofLoginRequest</div>
                            <div class="col-2 col-s-2">@candidateRequestModel.ValidFrom.ToString("dd-MMM-yyyy")</div>
                            <div class="col-2 col-s-2">@candidateRequestModel.ValidTo.ToString("dd-MMM-yyyy")</div>
                            <div class="col-1 col-s-1"><a href="#">Delete</a></div>
                            <div class="col-1 col-s-1"><a href="#">Download</a></div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-1 col-s-1"></div>
</div>
