<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-3 col-s-3"><img src="~/Content/images/mark-how-logo.gif" style="height:80px;width:80px" /></div>
            <div class="col-7 col-s-7"><h1 text>Excel Quiz</h1></div>
            <div class="col-2 col-s-2 linkmenu">
                <ul>
                    <li>
                        @Html.ActionLink("Logout", "Logout", "Candidate")
                    </li>
                    <li>
                        @TempData["RightMenuContent"]
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row row-eq-height content">
        <div class="col-3 col-s-3 nomenu">
        </div>
        <div class="col-9 col-s-9 body-content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <p>&copy; @DateTime.Now.Year - Excel Quiz</p>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@