@model ExcelQuiz.Models.CandidateQuestionModel

@{
    Layout = "../Shared/_CandidateLayout.cshtml";
}
<script type="text/javascript">
    var counter = 1;

    $(document).ready(function () {

        $('input:button').click(function () {
            var btn = $(this).val();
            if (btn == "Next")
                window.location = "question?slNo=@(Model.SlNo + 1)";

           if (btn == "Finish")
                window.location = "score";

           if (btn == "Previous")
                window.location = "question?slNo=@(Model.SlNo - 1)";
        });
    });
</script>
<div class="row">
    <div class="col-12 col-s-12"></div>
</div>
<div class="row">
    <div class="col-1 col-s-1" style="height:35vw;"><input type="hidden" id="hdnTotalQuestion" value="@Model.TotalQuestion" /></div>
    <div class="col-10 col-s-10">
        <div class="row">
            <div class="col-2 col-s-2"><strong>Question <span id="questNumber">@Model.SlNo</span>:</strong></div>
            <div class="col-10 col-s-10"><strong><span id="quest">@Model.Question</span></strong></div>
        </div>
        <div class="row">
            <div class="col-12 col-s-12"><input type="hidden" id="hdnQuestionId" value="@Model.QuestionId" /><input type="hidden" id="hdnQuestionTypeId" value="@Model.QuestionTypeId" /></div>
        </div>
        @{
            var optType = Model.QuestionTypeId == 3 ? "checkbox" : "radio";
        }
      
        @if (Model.QuestionTypeId == 1)
        {
            <div class="row" id="yesNo">
                <div class="col-12 col-s-12">
                    @foreach (var opt in Model.QuestionOptions)
                    {
                        <div class="row">
                            <div class="col-2 col-s-2"><input type="hidden" id="hdnQuestionOptionId" value="@opt.QuestionOptionsId" /></div>
                            <div class="col-1 col-s-1"><input type="radio" name="rdYesNo" @(opt.IsSelected == "Y" ? "checked" : string.Empty) /></div>
                            <div class="col-9 col-s-9"><strong>@opt.Option</strong></div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.QuestionTypeId == 2)
        {

            <div class="row" id="mcqSs">
                <div class="col-12 col-s-12">
                    @foreach (var opt in Model.QuestionOptions)
                    {
                        <div class="row">
                            <div class="col-2 col-s-2"><input type="hidden" id="hdnQuestionOptionId" value="@opt.QuestionOptionsId" /></div>
                            <div class="col-1 col-s-1"><input type="radio" name="rdMcqSs" @(opt.IsSelected == "Y" ? "checked" : string.Empty) /></div>
                            <div class="col-9 col-s-9"><strong>@opt.Option</strong></div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.QuestionTypeId == 3)
        {
            <div class="row" id="mcqMs">
                <div class="col-12 col-s-12">
                    @foreach (var opt in Model.QuestionOptions)
                    {
                        <div class="row">
                            <div class="col-2 col-s-2"><input type="hidden" id="hdnQuestionOptionId" value="@opt.QuestionOptionsId" /></div>
                            <div class="col-1 col-s-1"><input type="checkbox" @(opt.IsSelected == "Y" ? "checked" : string.Empty) /></div>
                            <div class="col-9 col-s-9"><strong>@opt.Option</strong></div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12 col-s-12"></div>
        </div>
        <div class="row">
            <div class="col-12 col-s-12"></div>
        </div>
        <div class="row bottomPlace">
            <div class="col-3 col-s-3"><strong>Question Feedback:</strong></div>
            <div class="col-9 col-s-9"><textarea value="" maxlength="500" style="width:400px;height:75px;"></textarea></div>
        </div>
        <div class="row">
            <div class="col-4 col-s-4"></div>
            <div class="col-2 col-s-2" style="text-align:center">
                <input type="button" id="btnPrev" class="button" value="Previous" @(Model.SlNo ==  1 ? "disabled=disabled" : string.Empty) />
            </div>
            <div class="col-2 col-s-2" style="text-align:center">
                <input type="button" id="btnNext" class="button" value='@(Model.SlNo ==  Model.TotalQuestion ? "Finish" : "Next")' />
            </div>
            <div class="col-4 col-s-4"></div>
        </div>
    </div>
    <div class="col-1 col-s-1" style="height:35vw;"></div>
</div>

