@model ExcelQuiz.Models.ScoreModel

@{
    Layout = "../Shared/_CandidateLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
       
    });
</script>
<div class="row">
    <div class="col-12 col-s-12"></div>
</div>
<div class="row">
    <div class="col-1 col-s-1">
        <input type="hidden" id="hdnCandidateName" value="@Model.CandidateName" />
        <input type="hidden" id="hdnCandidatePhone" value="@Model.CandidatePhone" />
        <input type="hidden" id="hdnCandidateEmail" value="@Model.CandidateEmailId" />
        <input type="hidden" id="hdnRequestPersonEmail" value="@Model.RequestedPersonEmail" />
        <input type="hidden" id="hdnExam" value="@Model.ExamName" />
        <input type="hidden" id="hdnIsPassed" value="@Model.IsPassed" />
        <input type="hidden" id="hdnGainScore" value="@Model.GainScore" />
        <input type="hidden" id="hdnTotalScore" value="@Model.TotalScore" />
        <input type="hidden" id="hdnPercentageScore" value="@Model.PercentageScore" />
        <input type="hidden" id="hdnStartTime" value="@(Model.StartTime.HasValue ? Model.StartTime.Value.ToString() : string.Empty)" />
        <input type="hidden" id="hdnEndTime" value="@(Model.EndTime.HasValue ? Model.EndTime.Value.ToString() : string.Empty)" />
    </div>
    <div class="col-10 col-s-10">
        <div class="row">
            <div class="col-2 col-s-2"><strong>Result:</strong></div>paint
            @if (Model.IsPassed)
            {
                <div class="col-9 col-s-9"><strong><span>Congratulation, you have passed!!!</span></strong></div>
            }
            else
            {
                <div class="col-9 col-s-9"><strong><span>Sorry, you have not passed this exam, please try again.</span></strong></div>
            }

            <div class="col-9 col-s-9"><strong><span>You have received @Model.GainScore score in out of total @Model.TotalScore and your percentage score is @Model.PercentageScore</span></strong></div>
        </div>
        <div class="row">
            <div class="col-12 col-s-12">
                <strong>This score card will be emailed to you and your representative.</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-2 col-s-2"></div>
            <div class="col-2 col-s-2"><strong>Quiz Feedback (if any):</strong></div>
            <div class="col-8 col-s-8"><textarea value="" maxlength="500"></textarea></div>
        </div>
        <div class="row">
            <div class="col-5 col-s-4"></div>
            <div class="col-2 col-s-2 center-block">
                <input type="button" id="btnQuit" class="button" value="Quit" />
            </div>
            <div class="col-5 col-s-4"></div>
        </div>
    </div>
    <div class="col-1 col-s-1"></div>
</div>
